extends ../layouts/base

block variables
	- pageTitle = 'Home'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	// $Page header
	header.page-header
		.page-header__inner
			h1.page-header__logo
				| Indo
				span Tourism

			// $Page navigation
			nav.page-nav
				a.page-nav__link(href='#') Home
				a.page-nav__link(href='#') About us
				a.page-nav__link(href='#') Projects
				a.page-nav__link.page-nav__link_special(href='#') Contact us

	// $Page content
	.page-content
		main.page-content__main
			// $Promo
			section.promo
				.promo__inner
					h1.promo__title
						| I Like To Ask The Same Question
						span Many Many Times
					a.promo__button(href='#') Ok ask me

			// $Info
			section.info
				.info__places

					// $Places
					.places
						h2.places__title Places You Must Visit In Your Lifetime
						a(href='#').places__link
							span.places__loc.places__loc_1
							| Azheekal
						a(href='#').places__link
							span.places__loc.places__loc_2
							| Ooty
						a(href='#').places__link
							span.places__loc.places__loc_3
							| Munnar
						a(href='#').places__link
							span.places__loc.places__loc_4
							| Humpi
						a(href='#').places__link
							span.places__loc.places__loc_5
							| Kovalam
						a(href='#').places__link
							span.places__loc.places__loc_6
							| Kuttanad
						a(href='#').places__link
							span.places__loc.places__loc_7
							| Thenmala
						a(href='#').places__link
							span.places__loc.places__loc_8
							| Beach
						a(href='#').places__link
							span.places__loc.places__loc_9
							| Munnar
						a(href='#').places__link
							span.places__loc.places__loc_10
							| Punaloor

				.info__inner
					h3.info__content
						| We&rsquo;ve since expanded our life list to 43 sites around the world
						br
						| 43 Places to See Before You Die

					.info__services

						// $Services
						.services
							a(href='#').services__link
								span.services__logo.services__logo_sites
								| Sites the world
							a(href='#').services__link
								span.services__logo.services__logo_shopping
								| Shopping
							a(href='#').services__link
								span.services__logo.services__logo_photography
								| Photography
							a(href='#').services__link
								span.services__logo.services__logo_find-best
								| Find the best

	// $Page footer
	footer.page-footer
		.page-footer__inner
			p.page-footer__text Designed by cssauthor.com | Coded by orlovmax.com
